.div-book-info-wrapper img.card-img-top{
    border:1px solid #ccc;
}

.div-book-info-wrapper div.card-body > a.text-reset{
    text-decoration: none;
}

.div-book-info-wrapper h3.card-title.display-4{
    font-size:2.1em;
    text-decoration: none;
    color:royalblue;
    display: block;
    padding-top:1.1em;
    padding-bottom:1.1em;
    min-height:5em;
}

.section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 0.4em;
    text-transform: uppercase;
    display:block;
    border-bottom:3px solid #007b5e;
}

.div-categorized-books-container{
    padding: 1.9em;
    background-color: #007b5e1f;
    margin-top:3.2em !important;
    margin-bottom:3.2em !important;
    border-radius:0.9em;
}

.div-categorized-books-container.div-container-with-alt-color{
    background-color: #1987547a;
}

.div-book-detail-info-container .user-row {
    margin-bottom: 14px;
}

.div-book-detail-info-container .user-row:last-child {
    margin-bottom: 0;
}

.div-book-detail-info-container .dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.div-book-detail-info-container .dropdown-user:hover {
    cursor: pointer;
}

.div-book-detail-info-container .table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.div-book-detail-info-container .table-user-information > tbody > tr:first-child {
    border-top: 0;
}

.div-book-detail-info-container .table-user-information > tbody > tr > td {
    border-top: 0;
}

.div-book-detail-info-container .toppad
{
    margin-top:20px;
}

.div-book-detail-info-container .panel{
    border:1px solid #ccc;
    border-radius:0.9em;
    box-shadow:#888888 1.2em 0.9em 0.3em;
}

.div-book-detail-info-container .panel-heading{
    border-bottom:1px solid #ccc;
    padding:1.2em;
}

.div-book-detail-info-container .panel-heading h3,
.div-book-detail-info-container .panel-heading h5{
    position:relative;
    left:2.5%;
}

.div-book-detail-info-container .panel-heading h3{
    font-size:2.9em; color:royalblue; font-weight:500;
}

.div-book-detail-info-container .panel-heading h5{
    font-size:1.8em;
}

.div-book-detail-info-container .panel-body{
    border-bottom:1px solid #ccc;
    padding:1.2em;
}

.div-book-detail-info-container .panel-footer{
    padding:1.2em;
}

.span_price{font-size: 1.6em; color:royalblue; font-weight: 600; text-decoration: underline; }

.pull-left-custom{
    float: left;
    padding-right: 1.2em;
}

.img-shopping-cart-product{width: 72px; height: auto}